{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      {{$res := index .Data "reservation"}}
      <h1 class="text-center mt-4">Make Reservation</h1>
      <p></p>
      <h4><strong>Reservation Details</strong></h4>
      <h6>Room: {{$res.Room.RoomName}}</h6>
      <p>Arrival: {{index .StringMap "start_date"}}</p>
      <p>Departure: {{index .StringMap "end_date"}}</p>

      <!-- Disable client side validation for testing -->
      <!-- <form action="/make-reservation" method="POST" class="needs-validation" novalidate> -->
      <form action="/make-reservation" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
        <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
        <input type="hidden" name="room_id" value="{{$res.RoomId}}">

        <!-- First Name -->
        <div class="mt-5">
          <label for="first_name" class="form-label">First Name:</label>
          <!-- Display this if there is an error for first_name -->
          {{with .Form.Errors.Get "first_name"}}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input type="text" 
                 class="form-control 
                        {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
                 value="{{$res.FirstName}}"
                 id="first_name" 
                 name="first_name" 
                 required 
                 autocomplete="off">
        </div>
        <!-- Last Name -->
        <div>
          <label for="last_name" class="form-label">Last Name:</label>
          {{with .Form.Errors.Get "last_name"}}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input type="text" 
                 class="form-control
                        {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
                 value="{{$res.LastName}}"
                 id="last_name" 
                 name="last_name" 
                 required 
                 autocomplete="off">
        </div>
        <!-- Email -->
        <div>
          <label for="email" class="form-label">Email:</label>
          {{with .Form.Errors.Get "email"}}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input type="email" 
                 class="form-control
                        {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                 value="{{$res.Email}}"
                 id="email" 
                 name="email" 
                 required 
                 autocomplete="off">
        </div>
        <!-- Phone -->
        <div>
          <label for="phone" class="form-label">Phone:</label>
          {{with .Form.Errors.Get "phone"}}
            <label class="text-danger">{{.}}</label>
          {{end}}
          <input type="text" 
                 class="form-control
                        {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" 
                 value="{{$res.Phone}}"
                 id="phone" 
                 name="phone" 
                 required 
                 autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Make Reservation</button>
      </form>

    </div>
  </div>
</div>
{{end}}